header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    background-color: #FFFFFF;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header ion-icon{
    font-size: 25px;
    margin-left: 0.8rem; 
}

.logo{
    display: flex;
}

.logo-instagram{
    margin-right: 0.5rem;
    padding-right: 00.5rem;
    border-right: 1px solid #DBDBDB;
}

.search{
    display: flex;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    width: 15.5rem;
    height: 1.5rem;
    background-color: #FAFAFA;
    color:#979797;
    justify-content: center;
    align-items: center;
}

@media (max-width: 614px) {
    .compass-outline, 
    .heart-outline,
    .person-outline,
    .search{
        display: none;
    }

    .logo-instagram{
        border: none;
    }

    .logo{
        justify-content: space-between;
        width: 55%;
    }

}