.stories{
    width: 614px;
    height: 16vh;
    background-color: #FFF ;
    margin-top: 5vh;
    display: flex;
    overflow: hidden;
    border: 1px solid #DBDBDB;
    position: relative;
    align-items: center;
}

.storie{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    font-size: 1.75vh;
}

.stories img {
    border-radius: 50%;
    width: 9vh;
    
}

.background-storie{
    width: 10.75vh;
    height: 10.75vh;
    background-image: url("../img/stories_background.jpg");
    background-size: 10.75vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.2vh;
    border-radius: 50%;
    position: relative;
}

.username{
    max-width: 10.75vh;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chevron-forward-circle-outline{
    position: absolute;
    right: 1vw;
    color: #FFF;
    font-size: 5vh;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7))
}

@media(max-width:935px){
    .stories{
        width: 100%;
    }
}

@media (max-width: 600px){
    .chevron-forward-circle-outline{
        display: none;
    }

    .stories{
        background-color:#E5E5E5 ;
        border: none;
    }
}