.stories{
    width: 614px;
    height: 14vh;
    background-color: #FFF ;
    margin-top: 5vh;
    display: flex;
    overflow: hidden;
    border: 1px solid #DBDBDB;
    position: relative;
    align-items: center;
}

.storie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 2vh;
}

.stories img {
    border-radius: 50%;
    width: 7.75vh;
    
}

.background-storie{
    width: 8.75vh;
    height: 8.75vh;
    background-image: url("../img/stories_background.jpg");
    background-size: 8.75vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    border-radius: 50%;
}
.chevron-forward-circle-outline{
    position: absolute;
    right: 1vw;
    color: #f1f1ebd4;
    font-size: 30px;
}

@media(max-width:935px){
    .stories{
        width: 100%;
        background-color: ;
        border: none;
    }
}

@media (max-width: 600px){
    .chevron-forward-circle-outline{
        display: none;
    }

    .stories{
        background-color:#E5E5E5 ;
        border: none;
    }
}