.stories{
    width: 100%;
    height: 15vh;
    background-color: #FFFFFF ;
    margin-top: 5vh;
    display: flex;
    position: relative;
    overflow: hidden;
    border: 1px solid #DBDBDB;
}


.stories img {
    border-radius: 50%;
    
}

.storie{
    margin: 1vw;
    text-overflow: ellipsis;
    text-align: center;

}
.chevron-forward-circle-outline{
    font-size: 5vh;
    position: absolute;
    color: #DBDBDB;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    left:50vw;
    top: 5vh;

}

.storie .arco {
    height: 10vh;
    width: 10vh;
    position: absolute;
}
.storie .foto {
    height: 9vh;
    width: 9vh;
    margin-left: 0.5vh;
    margin-top: 0.5vh;
    position: relative;
}

@media (max-width: 600px){
    .chevron-forward-circle-outline{
        display: none;
    }
}