body{
    background-color: #E5E5E5;
    font-family: Roboto;
    height: 1000px;
}

.page{
    width: 80vw;
    height: 100%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.content{
    width: 68%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.sidebar{
    width: 30%;
    height: 100%;
}
