body{
    background-color: #E5E5E5;
    font-family: Roboto;
}

.page{
    width: 935px;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;

}

.content{
    width: 614px;
    display: flex;
    flex-direction: column;
}

.sidebar{
    margin-top: 5vh;
    width: 293px;
    height: 100%;
    
}

.sidebar section{
    width: 293px;
    position: fixed;

}

.bottom-bar{
    display: none;
}

@media (max-width: 935px){
    .sidebar{
        display: none;
    }

    .content{
        width: 100%;
    }

    .page{
        width: 80%;
    }
}

@media (max-width:614px){
    .bottom-bar{
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #FFF;
        height: 6vh;
    }

    .bottom-bar div{ 
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        font-size: 4vh;
    }

    .page{
        width: 100%;
    }
}
