body{
    background-color: #E5E5E5;
    font-family: Roboto;
    height: 1000px;
}

.page{
    width: 935px;
    height: 100%;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;

}

.content{
    width: 614px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar{
    margin-top: 5vh;
    width: 293px;
    height: 100%;
    
}

.sidebar section{
    width: 293px;
    height: 30%;
    background-color: red;
    position: fixed;

}

@media (max-width: 935px){
    .sidebar{
        display: none;
    }

    .content{
        width: 100%;
    }

    .page{
        width: 80%;
    }
}
